body {

  background-color: #463E3F;

}

h3{

  color: #E5E4E2 ;

}


h1 {



  color:#E5E4E2 

}

h1,h3 {

  text-align: center;

}





img {

  display: block;

  margin: auto;

  height:1000px;

  width: 660px;

}
