body {
  background-color: #463E3F;
}

h3, h2{
  color: #E5E4E2 ;
  text-align: center;
}

h1,p, h4 {

  color:#E5E4E2;
  text-align: center;
}
h1, li, h4{
  text-align: center;
}


img {
  display: block;
  margin: auto;
  height:200px;
  width: 200px;
}
