body {
  background-color: #463E3F;
}

h3, h2{
  color: #E5E4E2 ;
  text-align: center;
}

h1,p {

  color:#E5E4E2;
  text-align: center;
}
h1 {
  text-align: center;
}


img {
  display: block;
  margin: auto;
  height:500px;
  width: 800px;
}
